@{
    ViewData["Title"] = "Home Page";
}
@model PostViewModel

<div class="text-center">
    <h1 class="display-4">My Blog</h1>
    <p>This is my website to showcase all of my cool ideas and projects, yo.</p>
</div>
